/**
 * Device Preview Component
 *
 * Implements https://core.trac.wordpress.org/attachment/ticket/31195/customizer-resprev-i2.png from @folletto
 * See #31195
 */

/* Device/preview size toggles */
.wp-full-overlay {
	background: #191E23;
}

#customize-preview.wp-full-overlay-main {
	background-color: #f1f1f1;
}

.expanded #customize-footer-actions {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 300px;
	height: 45px;
	border-top: 1px solid #ddd;
}

#customize-footer-actions .devices {
	float: right;
}

#customize-footer-actions .devices button {
	cursor: pointer;
	background: transparent;
	border: none;
	padding: 0;
	box-shadow: none;
	-webkit-transition: color .1s ease-in-out;
	transition: color .1s ease-in-out;
}

#customize-footer-actions .devices button:focus {
	box-shadow: none;
	outline: none;
}

#customize-footer-actions .devices button:before {
	display: inline-block;
	-webkit-font-smoothing: antialiased;
	font: normal 20px/30px "dashicons";
	vertical-align: top;
	margin: 3px 1px;
	padding: 4px 8px;
	border-radius: 100%;
	color: #656a6f; /* #82878c; would be better but doesn't meet color contrast guidelines... */
}

#customize-footer-actions .devices button:hover:before,
#customize-footer-actions .devices button:focus:before,
#customize-footer-actions .devices button.active:before {
	color: #191e23;
	box-shadow: 0 0 2px rgba(0, 0, 0, .5);
}

.wp-core-ui .wp-full-overlay .collapse-sidebar:hover,
.wp-core-ui .wp-full-overlay .collapse-sidebar:focus {
	color: #191e23;
}

#customize-footer-actions .devices .preview-desktop:before {
	content: "\f472";
}

#customize-footer-actions .devices .preview-tablet:before {
	content: "\f471";
}

#customize-footer-actions .devices .preview-mobile:before {
	content: "\f470";
}

@media screen and (max-width:1024px) {
	#customize-footer-actions {
		display: none;
	}
}

.collapsed #customize-footer-actions .devices button:before {
	display: none;
}

.collapsed #customize-footer-actions .devices .preview-full {
	left: 0;
}

.preview-mobile #customize-preview {
	margin: auto 0 auto -160px;
	width: 320px;
	height: 480px;
	max-height: 100%;
	max-width: 100%;
	left: 50%;
}

.preview-tablet #customize-preview {
	margin: auto 0 auto -3in;
	width: 6in;
	height: 9in;
	max-height: 100%;
	max-width: 100%;
	left: 50%;
}
